<?xml version="1.0"?>
<launch>
    <arg name="gui" default="false"/>
    
    <include file="$(find el5206_gazebo)/launch/el5206_empty_world.launch" >
        <arg name="gui" value="$(arg gui)"/>
    </include>
    
    <node name="main" pkg="el5206_example" type="el5206_main.py" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find el5206_example)/config/rviz.rviz"/>

</launch>